<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tetetete.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @tetetete.full_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tetetete.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @tetetete.number %>
</p>

<p>
  <strong>District:</strong>
  <%= @tetetete.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @tetetete.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @tetetete.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tetetete.country %>
</p>

<%= link_to 'Edit', edit_tetetete_path(@tetetete) %> |
<%= link_to 'Back', tetetetes_path %>
