<%= show_messages %>
<h1><%= tr 'title.book.show' %></h1>

<div class="crud-form">

  <table class="table show-table">
    <tbody>
      <tr>
        <td class="show-column"><%= tr :user, "activerecord.attributes.book" %> :</td>
        <td><%= @book.user.full_name %></td>
      </tr>
      <tr>
        <td class="show-column"><%= tr :room, "activerecord.attributes.book" %> :</td>
        <td><%= @book.room.name %></td>
      </tr>
      <tr>
        <td class="show-column"><%= tr :book_date, "activerecord.attributes.book" %> :</td>
        <td><%= @book.book_date_fmt %></td>
      </tr>
      <tr>
        <td class="show-column"><%= tr :schedule, "activerecord.attributes.book" %> :</td>
        <td><%= @book.schedule %></td>
      </tr>
      
    </tbody>
  </table>

  <%= link_to fa_icon("undo", text: tr(:back,'actions')), books_path, class: "link-form btn btn-light" %>
  <%= link_to fa_icon("edit", text: tr(:edit,'actions')), edit_book_path(@book), class: "link-form btn btn-light" %>
</div>