<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @book.room %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user %>
</p>

<p>
  <strong>Data:</strong>
  <%= @book.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @book.hora %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
