<div class="card">
  <div class="card-header" style="text-align:center;">
    <h4><%= tr 'title.sign_in' %></h4>
  </div>
  <div class="card-body">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
      <div class="auth form-inputs">
        <%= f.input :login,
                    required: false,
                    autofocus: true,
                    label: false,
                    placeholder: tr("username or email") %>
        <%= f.input :password,
                    label: false,
                    placeholder: tr('password', 'activerecord.attributes.user'),
                    required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="auth form-actions d-grid gap-2">
        <%= f.button :submit, tr("devise.sessions.new.sign_in"), class: "btn btn-success" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
