<%= show_messages %>
<h1><%= tr 'title.room.show' %></h1>

<div class="crud-form">
 
  <%= form_with(model: @room, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label', for: :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "name@example.com", disabled: true, readonly: true %>
    </div>
    <%= link_to fa_icon("undo", text: tr(:back,'actions')), rooms_path, class: "link-form btn btn-light" %>
    <%= link_to fa_icon("edit", text: tr(:edit,'actions')), edit_room_path(@room), class: "link-form btn btn-light" %>
  <% end %>

</div>

